<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Übertragung_BDE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Übertragung_BDE.Properties.Settings>
            <setting name="IpAdresseSPS" serializeAs="String">
                <value />
            </setting>
            <setting name="PortSPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IpAdresseDB" serializeAs="String">
                <value />
            </setting>
            <setting name="BenutzerDB" serializeAs="String">
                <value>bde</value>
            </setting>
            <setting name="PasswortDB" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Datenbankname" serializeAs="String">
                <value />
            </setting>
            <setting name="PortDB" serializeAs="String">
                <value />
            </setting>
        </Übertragung_BDE.Properties.Settings>
    </userSettings>
</configuration>